<div class="container"> 
 
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, :html => {:class => 'form-signin'}) do |f| %>
    <%= devise_error_messages! %>
    
    <h3>Resend confirmation</h3>

    <div><%= f.label :email %><br />
    
    <%= f.email_field :email, autofocus: true, class: 'form-control' %></div><br>

    <div class="form-group">
      <%= f.submit "Resend confirmation instructions", class: 'btn btn-success' %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>

</div>