<br>
<blockquote>
  <p class="text-info">
    Hi <%= current_user.name %>. You've completed 
    <%= pluralize(current_user.completed,'item') %> to date.
  </p>
  <small>And you have missed <%=pluralize(current_user.missed,'item') %>.</cite></small>
</blockquote>


<!-- Charting Area -->
<div id="todos_chart" style="width:560px; height:300px;"></div>
<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
      chart: { 
        renderTo: 'todos_chart',
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
       },
      title: { 
        text: 'Completion<br>Ratio',
        align: 'center',
        verticalAlign: 'middle',
        y: 50
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
      plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white',
                    textShadow: '0px 1px 2px black'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '50%']
        }
      },
      series: [{
        type: 'pie',
        name: 'ratio',
        innerSize: '50%',
        data: [
          ['Completed', <%= current_user.completed %>], 
          ['Missed', <%= current_user.missed %>]
        ]
      }]
    });
  });
</script>
<!-- End of Charting Area -->

<div class="row">
  <div class="col-md-8">
    <!--
    <h4>Change name or password</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "John Doe" %>
      </div>

      
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
      </div>
      

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">
          <p>Waiting confirmation for:</p>
          <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
        <i>(leave blank if you don't want to change it)</i>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
      </div>
      <div class="form-group">
        <%= f.password_field :current_password, class: 'form-control', placeholder: "Enter password" %>
        <i>(we need your current password to confirm your changes)</i>
      </div>
      
      
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>  
    -->  

    <!-- cancel account button -->
    <div class="form-group">
        <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
    </div>
  </div>
</div>