<br>

<!-- Enter todo item - form -->
<blockquote>
  <p class="text-info">Add Your Todo Item Below</p>
</blockquote>
<%= form_for Todo.new, :url => { :action => "create" } do |f| %>
  
  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :description, class: 'form-control', placeholder: "Type your todo item here and press enter..." %>
      <span class="input-group-btn">
        <%= f.submit "Add", class: "btn btn-default" %>
      </span>
    </div> 
  </div>    
<% end %>
<!-- end of new form for todo -->


<!-- will want row of colors to depend on ranking of item, i.e. one due soon to be danger color class!-->
<!-- see how tables look here http://bootswatch.com/readable/ -->
<table class="table table-striped table-hover ">
  
  <!-- table heading -->
  <thead>
    <tr>
      <th>Urgency</th>
      <th>Item</th>
      <th>Time Left</th>
      <th>Action</th>
    </tr>
  </thead>
  <!-- end of table heading -->

  <!-- start of the table body i.e. rows -->
  <tbody>
    <!-- start of the table rows -->
    <% @todos.each do |todo| %>
      <tr>   
        <td>1 to 5 rank</td>
        <td><%= todo.description %></td>
        <td>
          <%= distance_of_time_in_words(DateTime.now, todo.due )%>
          <!-- timer goes here -->
          <script language="javascript">
            var cd1 = new countdown('cd1');
            cd1.Div           = "clock1";
            cd1.TargetDate        = "<%=todo.due.month%>/<%=todo.due.day%>/<%=todo.due.year%> <%=todo.due.hour%>:<%=todo.due.min%>";
            cd1.DisplayFormat = "%%D%% days, %%H%% hrs, %%M%% mins, %%S%% secs";
          </script>
          
          <div id="clockwrapper"><div id="clock1">[clock]</div></div>
          <script language="javascript">
            <!--
            cd1.Setup();
            //-->
          </script>


          <!-- end of timer section -->
          
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-ok-circle"></span>
              Done
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Amend", todo %>
              </li>
              
              <li class="divider"></li>
              
              <li>
                <%= link_to "Delete", todo, data: { confirm: "Are you sure?" }, method: :delete %>
              </li>
            </ul>
          </div>
        </td>           
      </tr>
    <% end %>


  </tbody>
  <!-- END of table body rows  -->

</table> 
<!-- END of table -->



