<br>

<!-- Enter todo item - form -->

  <%= form_for Todo.new, :url => { :action => "create" } do |f| %>
    
    <div class="form-group">
      <div class="input-group">

        <%= f.text_field :description, class: 'form-control', placeholder: "Enter your todo item here and press Enter..." %>
        <span class="input-group-btn">
          <%= f.submit "Add", class: "btn btn-default" %>
        </span>
      </div>
    </div>    
  <% end %>
<!-- end of new form for todo -->


<!-- will want row of colors to depend on ranking of item, i.e. one due soon to be danger color class!-->
<!-- see how tables look here http://bootswatch.com/readable/ -->
<table class="table table-striped table-hover ">
  
  <!-- table heading -->
  <thead>
    <tr>
      <th>Urgency</th>
      <th>Item</th>
      <th>Time Left</th>
      <th>Action</th>
    </tr>
  </thead>
  <!-- end of table heading -->

  <!-- start of the table body i.e. rows -->
  <tbody>
    <!-- start of the table rows -->
    <% @todos.each do |todo| %>
      <tr>   
        <td>1 to 5 rank</td>
        <td><%= todo.description %></td>
        <td>[time left]</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default">
              Done
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Amend</a></li>
              <li class="divider"></li>
              <li><%= link_to "Delete", todo, method: :delete %></li>
            </ul>
          </div>
        </td>           
      </tr>
    <% end %>


  </tbody>
  <!-- END of table body rows  -->

</table> 
<!-- END of table -->