<!DOCTYPE html>
<html>
<head>
  <title>Bitlist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", welcome_index_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>

      <!-- 'hello user' and sign-out and sign-in/up buttons-->
      <div class="pull-right user-info">
        <% if current_user %>          
          <ul class="nav nav-pills">
            <li class="active"><a href="#">To Dos <span class="badge">5</span></a></li>
            <li><a href="#">My Profile <span class="badge"></span></a></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>

        
        <% else %>
          <%= link_to "Sign In", new_user_session_path %> or
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>

      </div>
      <!-- END of sign-in/out and sign-up buttons-->


    </ul>

    <!-- Flash Notices Area -->
    <% if flash[:notice] %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>

    <% elsif flash[:error] %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
      
    <% elsif flash[:alert] %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
    <% end %>
    <!-- End of Flash Notices Area -->

    <%= yield %>
  </div>

</body>
</html>
